.sidebar {
  position: relative;
  position: fixed;
  text-align: center;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  /* padding-top: 2vw; */
  background-image: url("old_map.png");
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0 0 50px rgb(255, 255, 255);
}
.point {
  font-weight: 700;
  color: rgb(192, 94, 94);
  width: 80%;
  margin: 3.5vw auto;
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0 0 10px rgb(153, 23, 23);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.2vw 0;
  position: relative;
}
.all-timer {
  position: relative;
  margin: 3.5vw auto;
}
.timer {
  font-size: 4vw;
  font-weight: 700;
  color: rgb(255, 255, 255);
  width: 60%;
  border: rgb(139, 0, 0) 6px double;
  border-radius: 50px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0 0 10px rgb(153, 23, 23);
  background-color: rgb(25, 25, 97);
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.change-timer {
  font-size: 1.2vw;
  font-weight: 700;
  color: rgb(255, 255, 255);
  width: 4vw;
  border: rgb(139, 0, 0) 0.2vw double;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0 0 10px rgb(153, 23, 23);
  background-color: rgb(25, 25, 97);
  padding: 5px;
  display: inline-block;
  margin: 1vw 0.6vw 0;
  cursor: pointer;
}
.switch {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vw;
  margin: 3.5vw auto;
}
.img-switch {
  width: 40%;
  border-radius: 1vw;
  cursor: pointer;
}
#low {
  opacity: 0.5;
}
#low:hover {
  opacity: 1;
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0 0 10px rgb(153, 23, 23);
  cursor: pointer;
}
.icon-point {
  width: 5vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  position: relative;
}
.number-point {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 4.5vw;
  color: white;
  font-size: 1.6vw;
  position: absolute;
  top: 0.5vw;
  /* left: 0; */
}
#top-num-error {
  top: -0.3vw;
  right: 0.3vw;
}
.iconbip {
  cursor: pointer;
  color: rgb(190, 0, 0);
}
