.boxes {
  width: 80%;
  position: absolute;
  left: 0;
}
.header {
  font-size: 6vw;
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-align: center;
  width: 100%;
  font-weight: 900;
  padding-top: 1vw;
  animation-name: color;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  height: 8vw;
  position: relative;
}
@keyframes color {
  0% {
    color: rgb(255, 198, 198);
  }
  25% {
    color: rgb(253, 253, 175);
  }
  50% {
    color: rgb(175, 175, 255);
  }
  100% {
    color: rgb(255, 198, 198);
  }
}
.all-boxes {
  width: 100%;
  position: relative;
  margin-top: 2vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.boxes .boxsmall {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  width: 35%;
  min-height: 25vw;
  border-radius: 5vw;
  background-image: url("old_map.png");
  border: rgb(139, 0, 0) 0.8vw double;
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0 0 30px rgb(255, 255, 255);
}

.boxes .boxlarge {
  min-height: 25vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  width: 35%;
  border-radius: 5vw;
  background-image: url("old_map.png");
  border: rgb(139, 0, 0) 0.8vw double;
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0 0 30px rgb(255, 255, 255);
}
img[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.boxes .boxsmall .imgbox {
  display: inline-block;
  width: 5.5vw;
  height: 5.5vw;
  margin: 15%;
  cursor: pointer;
}
.boxes .boxlarge .imgbox {
  display: inline-block;
  width: 4vw;
  height: 4vw;
  margin: 18%;
  cursor: pointer;
}
.boxes .boxsmall .imgboxCorrectAnswer {
  display: inline-block;
  width: 5.5vw;
  height: 5.5vw;
  margin: 15%;
  cursor: pointer;
  animation-name: correctAnswerS;
  animation-duration: 3s;
}
@keyframes correctAnswerS {
  0% {
    width: 5.5vw;
    height: 5.5vw;
    margin: 15%;
  }
  100% {
    width: 8vw;
    height: 8vw;
    margin: 0;
  }
}
.boxes .boxlarge .imgboxCorrectAnswer {
  display: inline-block;
  width: 4vw;
  height: 4vw;
  margin: 18%;
  cursor: pointer;
  animation-name: correctAnswerL;
  animation-duration: 3s;
}
@keyframes correctAnswerL {
  0% {
    width: 4vw;
    height: 4vw;
    margin: 18%;
  }
  100% {
    width: 6vw;
    height: 6vw;
    margin: 0;
  }
}

.gif-answer {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.err-start {
  min-height: 10vw;
  width: 60%;
  border-radius: 5vw;
  background-image: url("old_map.png");
  border: rgb(139, 0, 0) 0.8vw double;
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0 0 30px rgb(255, 255, 255);
  font-size: 2vw;
  font-weight: 700;
  margin: 10vw 0 0 35%;
}
.div-btn-start {
  width: 100%;
  height: 4vw;
  position: relative;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3vw;
}
.btn-start {
  font-size: 1.5vw;
  font-weight: 700;
  color: rgb(255, 255, 255);
  width: 20%;
  border: rgb(255, 138, 138) 6px double;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 50px #fff;
  box-shadow: 0 0 10px rgb(153, 23, 23);
  background-color: rgb(25, 25, 97);
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.btn-start:hover {
  color: rgb(25, 25, 97);
  background-image: url("old_map.png");
}
